<section class="phx-hero">
  <h1 class="header"><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace-of-mind from prototype to production</p>
</section>

<h2>Boston Temperature:  <%= @temperature %></h2>
